<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RRCB</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <!--        <link rel="stylesheet" href="/css/mobile.css">-->
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>



</head>
<body>
<header th:fragment="navigation">
    <nav class="shift">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <th:block sec:authorize="!isAuthenticated()">
                <li>
                    <a href="/users/login">Login</a>
                </li>
                <li>
                    <a href="/users/register">Register</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </th:block>
            <th:block sec:authorize="isAuthenticated() && !hasRole('ADMIN')">
                <li>
                    <a href="/routes/rent">Rent a car</a>
                </li>
                <li>
                    <!--                <a th:href="@{/users/profile/{id}(id=*{id})}">Profile</a>-->
                    <a href="/">Profile</a>
                    <!--                sec:authentication="name"-->
                </li>
            </th:block>
            <th:block sec:authorize="hasRole('ADMIN')">
                <li>
                    <a href="/routes/add">Add car</a>
                </li>
                <li>
                    <a href="/routes/allCars">All cars</a>
                </li>
                <li>
                    <a href="/">All users</a>
                </li>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <li>
                    <a>
                        <form th:method="POST"
                              th:action="@{/users/logout}">

                            <input
                                    type="submit" th:value="LOGOUT">

                        </form>
                    </a>
                </li>
            </th:block>
        </ul>
    </nav>
</header>

<footer th:fragment="footer" class="footer bg-blur">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy; R.R.C.B. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>