
body {
    font-family: 'Roboto', sans-serif;
    padding-top: 5%;
    margin: 0;
}

small {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}

h1 {
    text-align: center;
    padding: 50px 0;
    font-weight: 800;
    margin: 0;
    letter-spacing: -1px;
    color: inherit;
    font-size: 40px;
}


h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: 300;
    color: inherit;
    padding: 50px;
}

.center {
    text-align: center;
}

header{
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
/* NAVIGATION */
nav {
    display: block;
    width: 100%;
    margin: 0 auto;
    background: #3F8A8C;
    top: 0;
    left: 0;
    right: 0;
}

nav ul {
    list-style: none;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    padding: 15px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #555;
    text-decoration: none;
}

.navbar ul li a.active-page {
    color: #96670c;
    background: #f1c40f;
}

/* SHIFT */
nav.shift ul li a {
    height: 100%;
    width: 90%;
    font-size: 20px;
    font-weight: 900;
    position:relative;
    z-index: 1;
    text-wrap: none;
    white-space:nowrap;
}
nav.shift ul li a:hover {
    color: #91640F;
}
nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #F1C40F;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

/*----------------*/

nav.shift ul li a form{

}
nav.shift ul li a form input{
    color: white;
    background: transparent;
    display: inline;
    margin: 0;
    outline: none;
    padding: 0;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    position:relative;
    z-index: 1;
}
nav.shift ul li a:hover form input {
    /*text-decoration: underline;*/
    color: #91640F;
}
nav.shift ul li a:after form input{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #F1C40F;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
nav.shift ul li a:hover:after form input{
    /*text-decoration: underline;*/
    opacity: 1;
    visibility: visible;
    height: 100%;
}


/*----------------------*/

