<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>
<body>
<div class="wrapper-About">
    <!-- Navigation -->
    <header th:replace="fragments/commons::navigation">
    </header>

    <!-- About Us Section -->
    <div class="infoAbout lemon-regular" style="background-color: #0C5679">
        <!--        <div></div>-->
        <div style="text-align: justify;text-align-last: left">
            <h4 style="text-align-last: center" th:text="#{about.title}">About us</h4>
            <p th:text="#{about.paragraph1}">We wanted to provide a unique service to people and that is to be able to touch a nice old classic car collection.
                To show them the beauty of the old and to be able to gather people's eyes with their car.
                And that's why we created R.R.C.B (Rent Retro Car Bulgaria).</p>

            <p th:text="#{about.paragraph2}">Are you a lover of old beautiful cars? Want to stand out from the crowd? Do you want to drive high value cars?
                This is your place! Enjoy all kinds of nice old school cars and book them for any occasion:
                wedding, prom, date, and many more!</p>

            <p style="text-indent: 0">
                <span th:text="#{about.paragraph3prefix}">What are you waiting for? Look at them:</span>
                <a th:href="@{/cars/all}" class="btn" style="border: 1px solid #f28a0f !important;" th:text="#{about.learnMore}"> Learn more</a>
            </p>
        </div>

        <!--        <div></div>-->
    </div>

</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="fragments/commons::footer">
</footer>
</html>
