<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>
<body>
<script>
    function upload_check() {
        var upl = document.getElementById("file_id");
        var max = document.getElementById("max_id").value;

        if (upl.files[0].size > max) {
            alert("File too big!");
            upl.value = "";
        }
    };
</script>
<!--<div class="wrapper">-->
<!-- Navigation -->
<div class="wrapper-Add-Car">
    <header th:replace="fragments/commons::navigation">
    </header>

    <!-- Top Container -->
    <div class="row justify-content-center lemon-regular div-add-car">
        <!--    id="add-route-form"  and formAddCar how to fix-->
        <form class="rounded text-white mt-5 form-add-car"
              th:action="@{/cars/add}"
              th:method="POST"
              th:object="${carAddBindingModel}"
              enctype="multipart/form-data">
            <h3 class="pl-2" style="text-align: center" th:text="#{addCar.title}">Add a new car</h3>
            <div>
                <div class="form-group">
                    <label for="inputName" class="col-form-label " th:text="#{addCar.nameLabel}">Name</label>
                </div>
                <div class="form-group">
                    <input th:field="*{name}"
                           th:errorclass="'is-invalid bg-danger'"
                           required minlength="3" maxlength="20"
                           type="text"
                           id="inputName"
                           th:placeholder="#{addCar.enterName}"
                           class="form-control"
                           aria-describedby="inputNameError">
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                           class="invalid-feedback rounded" th:text="#{addCar.nameLength}">Name length must be more than 3 characters</small>

                </div>
            </div>

            <div>
                <div class="form-group">
                    <label for="inputBrand" class="col-form-label " th:text="#{addCar.brandLabel}">Brand</label>
                </div>
                <div class="form-group">
                    <input th:field="*{brand}"
                           th:errorclass="'is-invalid bg-danger'"
                           required minlength="3" maxlength="20"
                           type="text"
                           id="inputBrand"
                           th:placeholder="#{addCar.enterBrand}"
                           class="form-control"
                           aria-describedby="inputNameError">
                    <small th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"
                           class="invalid-feedback rounded" th:text="#{addCar.brandLength}">Brand length must be more than 3 characters</small>

                </div>
            </div>

            <div>
                <div class="form-group">
                    <label for="inputModel" class="col-form-label " th:text="#{addCar.modelLabel}">Model</label>
                </div>
                <div class="form-group">
                    <input th:field="*{model}"
                           th:errorclass="'is-invalid bg-danger'"
                           required minlength="3" maxlength="20"
                           type="text"
                           id="inputModel"
                           th:placeholder="#{addCar.enterModel}"
                           class="form-control"
                           aria-describedby="inputNameError">
                    <small th:if="${#fields.hasErrors('model')}" th:errors="*{model}"
                           class="invalid-feedback rounded" th:text="#{addCar.modelLength}">Model length must be more than 3 characters</small>

                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="inputDescription" class="col-form-label " th:text="#{addCar.descriptionLabel}">Description</label>
                </div>
                <div class="form-group">
                    <textarea th:field="*{description}"
                              th:errorclass="'is-invalid bg-danger'"
                              required minlength="10"
                              id="inputDescription"
                              th:placeholder="#{addCar.enterDescription}"
                              class="form-control"
                              aria-describedby="inputDescriptionError"></textarea>
                    <small id="inputDescriptionError"
                           class="invalid-feedback  form-text bg-danger rounded" th:text="#{addCar.descriptionLength}">Description length must be more than 10
                        characters</small>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="inputAge" class="col-form-label " th:text="#{addCar.createdYearLabel}">Created year</label>
                </div>
                <div class="form-group">
                    <input th:field="*{created}" required
                           type="number"
                           id="inputAge"
                           th:placeholder="#{addCar.enterCreatedYear}"
                           class="form-control"
                           min="1900" max="2000"
                           step="1"
                           aria-describedby="ageHelpInline">
                    <small id="ageError"
                           class="invalid-feedback  form-text bg-danger rounded" th:text="#{addCar.validYear}">Must be valid age</small>
                </div>
            </div>

            <!--        <div>-->
            <!--            <div class="form-group">-->
            <!--                <label for="imageUrl">Put here cloud URL for image of the car.</label>-->
            <!--                <input th:field="*{imageUrl}"-->
            <!--                       id="imageUrl" type="text"-->
            <!--                       required minlength="1"-->
            <!--                       class="form-control" placeholder="Image url">-->
            <!--            </div>-->
            <!--        </div>-->

            <div>
                <div class="form-group">
                    <label th:text="#{addCar.fileLabel}">Put here FILE for image of the car.</label>
                    <input id="max_id" type="hidden" name="MAX_FILE_SIZE" th:value="131072"/>
                    <input onchange="upload_check()" th:field="*{file}"
                           id="file_id" type="file"
                           required minlength="1"
                           class="form-control" th:placeholder="#{addCar.enterFile}"
                           accept=".jpg,.png">
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-primary btn-block w-50" type="submit" th:text="#{addCar.addCarButton}">Add Car</button>
            </div>
        </form>
    </div>
</div>
</body>
<footer th:replace="fragments/commons::footer">
</footer>
</html>
