<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<script>
    function applySearchFilter(input, carSections) {
        carSections.forEach((section) => {
            const carName = section.querySelector('h2').textContent.toUpperCase();
            const carBrand = section
                .querySelector('p:first-of-type')
                .textContent.toUpperCase();
            const carModel = section
                .querySelector('p:nth-of-type(2)')
                .textContent.toUpperCase();
            const carYear = section
                .querySelector('p:nth-of-type(3)')
                .textContent.toUpperCase();

            if (
                carName.includes(input) ||
                carBrand.includes(input) ||
                carModel.includes(input) ||
                carYear.includes(input)
            ) {
                section.style.display = '';
            } else {
                section.style.display = 'none';
            }
        });
    }

    function searchFunction() {
        const input = document.getElementById('searchBar').value; // Get value
        let url = new URL(window.location.origin + '/cars/allCarsAdmin');  // Start at page 0
        const searchParams = new URLSearchParams();

        searchParams.set('page', '0'); // Always start at page 0

        if (input) {
            searchParams.set('search', input);
        }
        url.search = searchParams.toString();

        window.location.href = url.toString();
    }

    document.addEventListener('DOMContentLoaded', function() {
        const urlParams = new URLSearchParams(window.location.search);
        const searchTerm = urlParams.get('search');
        const carSections = document.querySelectorAll('.road-All-Cars');

        if (searchTerm) {
            document.getElementById('searchBar').value = searchTerm;  //Set the searchbar
            applySearchFilter(searchTerm.toUpperCase(), carSections);
        }
    });
</script>

<body>
<!-- Navigation -->
<header th:replace="fragments/commons::navigation"> </header>
<div class="search-container-admin">
    <input type="text" id="searchBar" th:placeholder="#{allCarsAdmin.searchPlaceholder}">
    <button type="submit" onclick="searchFunction()" th:text="#{allCarsAdmin.search}">Search</button>
</div>

<div class="wrapperAdmin lemon-regular">

    <section th:each="c : ${cars}" class="sectionCarsAdmin">
        <div>
            <img th:src="${c.file}" alt="Title file" class="car-image" />
        </div>
        <div class="car-details">
            <h2 th:text="${c.name}">Your Route</h2>
            <p th:text="${c.brand}">Brand car</p>
            <p th:text="${c.model}">Model car</p>
            <!-- <p th:text="*{created}">Year of the car</p> -->
            <!-- Reduced Text -->
            <!-- <p style="text-align: justify;text-align-last: center; " th:text="*{description}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae alias reiciendis deleniti possimus nemo
                            non repellendus?
                            Quae atque vero modi quidem! Autem cupiditate fugit doloribus ad amet, asperiores provident commodi.</p> -->

            <div style="display: inline-block; white-space: normal">
                <a th:href="@{/cars/edit/{id} (id = ${c.id})}" class="btn" th:text="#{allCarsAdmin.edit}">Edit</a>
                <a th:href="@{/cars/remove/{id} (id = ${c.id})}" class="btn" th:text="#{allCarsAdmin.remove}">Remove</a>
            </div>
        </div>
    </section>
    <!-- Pagination -->
    <div class="pagination" th:if="${totalPages > 1}">
        <a th:if="${currentPage > 0}"
           th:href="@{/cars/allCarsAdmin(page=${currentPage - 1}, size=${pageSize}, search=${search})}" th:text="#{allCarsAdmin.previous}">Previous</a>

        <span th:each="i: ${#numbers.sequence(0, totalPages - 1)}">
        <a th:href="@{/cars/allCarsAdmin(page=${i}, size=${pageSize}, search=${search})}"
           th:text="${i + 1}"
           th:class="${currentPage == i ? 'active' : ''}"></a>
        </span>

        <a th:if="${currentPage < totalPages - 1}"
           th:href="@{/cars/allCarsAdmin(page=${currentPage + 1}, size=${pageSize}, search=${search})}" th:text="#{allCarsAdmin.next}">Next</a>
    </div>

</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="fragments/commons::footer"></footer>

</html>
