<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>
<body>
<div class="wrapper lemon-regular">
    <!-- Navigation -->
    <header th:replace="fragments/commons::navigation">
    </header>

    <!-- Info Section -->
    <section class="road sectionCarsAdmin" th:each="u : ${users}">
        <div>
            <h3 th:text="#{allUsers.username(${u.username})}">username</h3>
            <h3 th:text="#{allUsers.fullName(${u.fullName})}">fullName</h3>
            <h3 th:text="#{allUsers.email(${u.email})}">email</h3>
        </div>
        <div>
            <h2 th:text="#{allUsers.role(${u.role.name})}">role</h2>

            <div style="display: inline-block;white-space: normal">
                <a th:href="@{/users/remove/{id} (id = ${u.id})}" class="btn" th:text="#{allUsers.removeUser}">Remove user</a>
                <a th:href="@{/users/changeRole/{id} (id = ${u.id})}" class="btn" th:text="#{allUsers.changeRole}">Change role</a>
            </div>
        </div>
    </section>

</div>
<!-- Wrapper Ends -->'

<footer th:replace="fragments/commons::footer">
</footer>
</body>

</html>
