<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>
<body>
<!--<div class="wrapper">-->
<!-- Navigation -->
<header th:replace="fragments/commons::navigation">
</header>

<!-- Top Container -->
<div class="row justify-content-center lemon-regular" style="width: 100%">
    <form id="add-route-form" class="w-50 rounded text-white mt-5" style="background: #3F8A8C; border: solid #0B0835"
          th:method="PATCH"
          th:object="${carForRent}"
          th:action="@{/cars/rent/{id}(id=${carForRent.id})}"
          enctype="multipart/form-data">

        <h3 class="pl-2" style="text-align: center">Choose which days would you like to rent the car</h3>

<!--        <div>-->
<!--            <div class="form-group p-3">-->
<!--                <label class="p-2" for="days">Days:</label>-->
<!--                <input  th:field="*{allOrderDays}"-->
<!--                        th:each="d : *{allAvailableDays}"-->
<!--                        th:text="${d}" th:value="${d}" class="m-3" type="checkbox" name="days" id="days">-->
<!--                &lt;!&ndash;                       value="1" text="Category"> TODO:allAvailableDays INTO days.neshtosi&ndash;&gt;-->
<!--                <br>-->
<!--            </div>-->
<!--        </div>-->
        <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

        <!--Font Awesome (added because you use icons in your prepend/append)-->
        <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

        <!-- Inline CSS based on choices in "Settings" tab -->
        <style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>

        <div class="form-group ">
            <div class="col-sm-10">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar">
                        </i>
                    </div>
                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary btn-block w-50" type="submit">RENT</button>
        </div>

        <!--        <div class="bootstrap-iso">-->
        <!--            <div class="container-fluid">-->
        <!--                <div class="row">-->
        <!--                    <div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--                        <form class="form-horizontal" method="post">-->
        <!--                            <div class="form-group ">-->
        <!--                                <div class="col-sm-10">-->
        <!--                                    <div class="input-group">-->
        <!--                                        <div class="input-group-addon">-->
        <!--                                            <i class="fa fa-calendar">-->
        <!--                                            </i>-->
        <!--                                        </div>-->
        <!--                                        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                        </form>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </form>


</div>
</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>


<style>
    /* Optional: Add styles for unavailable dates */
    .unavailable-date {
        background-color: #ffdddd !important;
        color: #d9534f !important;
        cursor: not-allowed !important;
    }
</style>
<script>
    $(document).ready(function () {
        var date_input = $('#date'); // Select the date input

        // Initialize the multidatepicker
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            todayHighlight: true,
            autoclose: false, // Keep the picker open for multiple selections
            multidate: true, // Enable multiple date selection
            beforeShowDay: function (date) {
                // Example: Mark certain dates as unavailable
                var unavailableDates = ["01/20/2025", "01/22/2025", "01/25/2025"];
                var formattedDate =
                    ("0" + (date.getMonth() + 1)).slice(-2) + "/" +
                    ("0" + date.getDate()).slice(-2) + "/" +
                    date.getFullYear();

                if (unavailableDates.includes(formattedDate)) {
                    return {
                        enabled: false,
                        classes: 'unavailable-date',
                        tooltip: 'Date unavailable'
                    };
                }
                return true;
            }
        });
    });
</script>


<footer th:replace="fragments/commons::footer">
</footer>
</html>