<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>
<body>
<div class="wrapper lemon-regular">
    <!-- Navigation -->
    <header th:replace="fragments/commons::navigation">
    </header>

    <div class="details-car" style="background: var(--primary); box-shadow: var(--shadow);" th:object="${car}">
        <div class="center" style="white-space: pre-line;">
            <span class="p-1 px-4 rounded text-white" style="background-color: #0C5679;"
                  th:text="*{category}">Pro</span>
            <img th:src="*{file}" alt="Title image">
            <div class="button-container">
                <a th:href="@{/cars/all}" class="btn" th:text="#{detailsCar.goBack}"> 🠈 GO BACK</a>
                <a th:href="@{/cars/rent/{id} (id = *{id})}" class="btn" th:text="#{detailsCar.rent}">RENT</a>
            </div>
        </div>
        <div style="text-align: center;
    white-space: pre-line;
    word-break:break-word;">
            <h1 th:text="*{name}">Name of the car</h1>
            <h3 th:text="|*{brand} *{model}|">Brand and Model</h3>
            <h3 th:text="*{created}">Year created</h3>
            <p th:text="*{description}" style="text-align: justify;text-align-last: left; text-indent: 2em;">Description
                car</p>
        </div>
    </div>

</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="fragments/commons::footer">
</footer>
</html>
