<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">
</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="fragments/commons::navigation">
    </header>

    <!-- Info Section -->
    <section class="road" th:each="r : ${rents}" th:object="${r}">
        <div>
            <h3 th:text="|Username: *{dateTime}|">username</h3>
            <h3 th:text="|Fullname: *{fullName}|">fullName</h3>
            <h3 th:text="|Email: *{email}|">email</h3>
        </div>
        <div>
            <h2 th:text="|Role: *{role.getName()}|">role</h2>
            <a th:href="@{/users/remove/{id} (id = *{id})}" class="btn">Cancel rent</a>
        </div>
    </section>

</div>
<!-- Wrapper Ends -->'

<footer th:replace="fragments/commons::footer">
</footer>
</body>

</html>