<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">
</head>
<script th:inline="javascript">
    /*<![CDATA[*/
    let successMessage = /*[[${successMessage}]]*/ null;
    let errorMessage = /*[[${errorMessage}]]*/ null;
    let cancelClicked = sessionStorage.getItem('cancelClicked');

    if (cancelClicked) {
        if (successMessage) {
            alert(successMessage);
        } else if (errorMessage) {
            alert(errorMessage);
        }
        sessionStorage.removeItem('cancelClicked'); // clear it so it doesn't show again on next page load
    }
    /*]]>*/
</script>

<body>
<div class="wrapper lemon-regular">
    <!-- Navigation -->
    <header th:replace="fragments/commons::navigation">
    </header>

    <div class="info" style="background-color: #0C5679; size: auto">
        <div></div>
        <div style="text-align: justify; text-align-last: left">
            <h4 style="text-align-last: center; font-size: 500%">Rents:</h4>
        </div>

        <div></div>
    </div>
    <!-- Info Section -->
    <section class="road" th:each="r : ${rents}" th:object="${r}">
        <div style="text-align-last: left; padding-left: 10%">
            <h3 th:text="|car name: *{car.getName()}|">car name</h3>
            <h3 th:text="|date of order: *{dateTime}|">datetime</h3>
            <h3 th:text="|price: *{price}lv|">price</h3>
            <h3>Rented Days:</h3>
            <ul style="padding-left: 12px; display: flex; flex-direction: column; gap: 1px;">
                <li th:each="day : *{allOrderedDays}" th:text="${day.getDayOrdered()}"></li>
            </ul>
        </div>
        <div>
            <a th:href="@{/users/rents/cancel/{id} (id = *{id})}" class="btn"
               onclick="sessionStorage.setItem('cancelClicked', 'true')">Cancel rent</a>
        </div>
    </section>

</div>
<!-- Wrapper Ends -->

<footer th:replace="fragments/commons::footer">
</footer>
</body>

</html>