<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>
<body>
<div class="wrapper-Rents lemon-regular">
    <!-- Navigation -->
    <header th:replace="fragments/commons::navigation">
    </header>

    <div class="infoRents" style="background-color: #0C5679">
        <!--        <div></div>-->
        <div style="text-align: justify;text-align-last: left">
            <h4 th:text="#{rentsInfo.title}" style="text-align-last: center; margin: auto auto 10px">Rents info</h4>
            <p th:text="#{rentsInfo.description}">Have you decided to rent a car but wonder what the conditions are? Each car is unique in itself, but they are all valued the same: the number of days at the price (100 BGN).
                Payments are on the spot.</p>
            <br></br>
            <p th:text="#{rentsInfo.cta}">The price may seem high but it is fair for these jewels from the past. What are you waiting for? Look at them:</p>
            <a th:href="@{/cars/all}" class="btn" th:text="#{rentsInfo.learnMore}" style="margin: auto auto 10px; border: 1px solid #f28a0f !important;"> Learn more</a>
            <br></br>
            <a th:href="@{/}" class="btn" style="margin: auto auto 10px;border: 1px solid #f28a0f !important;"> 🠈 GO BACK</a>
        </div>

        <!--        <div></div>-->
    </div>

</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="fragments/commons::footer">
</footer>
</html>