<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>
<div class="notification" id="notification">
    <span id="notification-message"></span>
</div>

<div class="wrapper lemon-regular">
    <!-- Navigation -->
    <header th:replace="fragments/commons::navigation">
    </header>

    <div class="info" style="background-color: #0C5679; size: auto">
        <div></div>
        <div style="text-align: justify; text-align-last: left">
            <h4 style="text-align-last: center; font-size: 500%" th:text="#{rents.title}">Rents:</h4>
        </div>

        <div></div>
    </div>
    <!-- Info Section -->
    <section class="road" th:each="r : ${rents}">
        <div style="text-align-last: left; padding-left: 10%">
            <h3 th:text="#{rents.carName(${r.car.name})}">car name</h3>
            <h3 th:text="#{rents.dateOfOrder(${r.dateTime})}">datetime</h3>
            <h3 th:text="#{rents.price(${r.price})}">price</h3>
            <h3 th:text="#{rents.rentedDays}">Rented Days:</h3>
            <ul style="padding-left: 12px; display: flex; flex-direction: column; gap: 1px;">
                <li th:each="day : ${r.allOrderedDays}" th:text="${day.dayOrdered}"></li>
            </ul>
        </div>
        <div>
            <a th:href="@{/users/rents/cancel/{id} (id = ${r.id})}" class="btn"
               onclick="sessionStorage.setItem('cancelClicked', 'true')" th:text="#{rents.cancel}">Cancel rent</a>
        </div>
    </section>

</div>
<!-- Wrapper Ends -->

<footer th:replace="fragments/commons::footer">
</footer>

<script th:inline="javascript">
    /*<![CDATA[*/
    let successMessage = /*[[${successMessage}]]*/ null;
    let errorMessage = /*[[${errorMessage}]]*/ null;
    let cancelClicked = sessionStorage.getItem('cancelClicked');

    function showNotification(message, type = 'error') {
        const notificationDiv = document.getElementById('notification');
        const notificationMessage = document.getElementById('notification-message');

        notificationMessage.textContent = message;
        notificationDiv.className = 'notification ' + type; // Reset class and add type
        notificationDiv.style.display = 'block';

        // Hide the notification after 3 seconds
        setTimeout(function () {
            notificationDiv.style.display = 'none';
        }, 3000);
    }

    if (cancelClicked) {
        if (successMessage) {
            showNotification(successMessage, 'success');
        } else if (errorMessage) {
            showNotification(errorMessage, 'error');
        }
        sessionStorage.removeItem('cancelClicked'); // clear it so it doesn't show again on next page load
    }
    /*]]>*/
</script>
</body>

</html>
